table,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
  padding: 0.5em;
}
input {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
input:active,
input:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #ffffff;
}

input:checked {
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #a79999;
}
#score {
  display: inline-block;
  /* border: 1px solid black; */
  color: white;
  border-radius: 18px;
  width: 20vw;
  background-color: red;
  text-align: center;
  box-shadow: 4px 4px 2px rgb(250, 138, 138);
  font-size: 1.1rem;
  padding: 0.5em;
  cursor: pointer;
  margin-right: 2em;
  margin-top: 30px;
  /* float: right */
}
#score1,
#score2,
#score3 {
  display: block;
  background-color: rgb(159, 209, 255);
  /* border: 2px solid black; */
  border-radius: 12px;
  width: 25vw;
  margin-left: 2em;
  margin-bottom: 20px;
  font-size: 1.1rem;
  padding: 0.7em;
  text-align: center;
  /* cursor: pointer; */
  /* float: right */
}
