table,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
  padding: 0.5em;
}
#score {
  display: inline-block;
  /* border: 1px solid black; */
  color: white;
  border-radius: 18px;
  width: 20vw;
  background-color: red;
  text-align: center;
  box-shadow: 4px 4px 2px rgb(250, 138, 138);
  font-size: 1.1rem;
  padding: 0.5em;
  cursor: pointer;
  margin-right: 2em;
  margin-top: 30px;
  /* float: right */
}
#score1,
#score2,
#score3 {
  display: block;
  background-color: rgb(159, 209, 255);
  /* border: 2px solid black; */
  border-radius: 12px;
  width: 25vw;
  margin-left: 2em;
  margin-bottom: 5px;
  font-size: 1.1rem;
  padding: 0.7em;
  text-align: center;
  /* cursor: pointer; */
  /* float: right */
}
